commands:
    01_create_post_dir:
        command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
        ignorErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_changes.sh":
    mode: "000777"
    content: |
      #!/bin/bash
      mkdir -p /var/app/current/client/node_modules
      cd /var/app/current/client/
      npm install
      npm run build
