commands:
    01_setup_swap:
        test: test ! -e /var/swapfile
        command: |
            /bin/dd if=/dev/zero of=/var/swapfile bs=1M count=2048
            /bin/chmod 600 /var/swapfile
            /sbin/mkswap /var/swapfile
            /sbin/swapon /var/swapfile
    02_create_node_modules:
        command: mkdir node_modules
        cwd: /var/app/current/client
    03_install_dependencies:
        command: npm install
        cwd: /var/app/current/client
    04_create_build:
        command: npm run build
        cwd: /var/app/current/client
