commands:
    01_create_post_dir:
        command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
        ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_changes.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            mkdir /var/app/current/client/node_modules/
            cd /var/app/current/client/
            npm install
            npm run build
